{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<div class="mx-auto w-[1800px] flex justify-around pt-5">
    <div class="border rounded">
        <img src="img/poire.png" width="200" alt="">

        <h1>NOM</h1>

        <p>PRICE</p>

        <button>Voir le produit</button>
    </div>

    <div class="border rounded">
        <img src="img/poire.png" width="200" alt="">

        <h1>NOM</h1>

        <p>PRICE</p>

        <button>Voir le produit</button>
    </div>

    <div class="border rounded">
        <img src="img/poire.png" width="200" alt="">

        <h1>NOM</h1>

        <p>PRICE</p>

        <button>Voir le produit</button>
    </div>

    <div class="border rounded">
        <img src="img/poire.png" width="200" alt="">

        <h1>NOM</h1>

        <p>PRICE</p>

        <button>Voir le produit</button>
    </div>
</div>
{% endblock %}
