{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mot de pass</h1>

    <a href="{{ path('app_account') }}">Retourner à mon compte</a>

    {{ form(form) }}
{% endblock %}